# External raw datasets / symlinks
external_data/*
!external_data/.gitkeep

# Local raw datasets
data/*
!data/.gitkeep
!data/carla/
data/carla/*
!data/carla/.gitkeep
!data/carla/simulation_45/
!data/smartroom/
data/smartroom/*
!data/smartroom/.gitkeep

# Large media files
*.mp4
*.avi
*.mov
!data/carla/simulation_45/simulation_45.mp4

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pycache/
